.container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .left-column {
    flex: 1; /* Takes half of the space */
    //background-color: #f8f8f8;
    padding: 20px;
  }
  
  .right-column {
    flex: 1; /* Takes half of the space */
   // background-color: #e8e8e8;
    padding: 20px;
  }